<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491560581247-mbnt2bidv9paa05dvdr18pt1dveq1stq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491560581247-mbnt2bidv9paa05dvdr18pt1dveq1stq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491560581247-9a7vfc23mvb2utqf4pls0bvk0hreg62s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2-kX_xOgkzI5n-MuNakVzH6HOI9640Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>491560581247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deeplink</string>
	<key>PROJECT_ID</key>
	<string>raydeeplink</string>
	<key>STORAGE_BUCKET</key>
	<string>raydeeplink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491560581247:ios:acd8527f8e34e0f811274a</string>
</dict>
</plist>